<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue2 day1</title>

    <style>
      .red {
        color: red;
      }
      .black {
        color: black;
      }
      .center {
        width: 28%;
        margin: 0 auto;
      }
    </style>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div class="center" id="app">
      <input type="radio" name="author" v-model="isAuthor" value="exist" />Є
      автор
      <input type="radio" name="author" v-model="isAuthor" value="" />Немає
      автора

      <br />

      <!-- {{ isAuthor }} -->

      <div class="quote" v-for="qt in quotes">
        <h3
          v-if=" qt.source.length > 0"
          v-bind:class=" qt.quote.length > 40 ? 'red' : 'black'"
        >
          {{ qt.quote }}
        </h3>
        <h5>{{ qt.source }}</h5>
      </div>
      <button @click="sortBySource()">Sort</button>
    </div>
  </body>
  <script type="text/javascript">
    var quotesArray = [
      {
        quote:
          "This is just a Quote1 This is just a Quote1 This is just a Quote1",
        source: "Christopher",
      },
      {
        quote: "This is just a Quote2",
        source: "Martin",
      },
      {
        quote: "This is just a Quote3",
        source: "Dennis",
      },
      {
        quote: "This is just a Quote4",
        source: "",
      },
      {
        quote: "This is just a Quote5",
        source: "",
      },
    ];

    const { createApp, ref, computed } = Vue;
    createApp({
      setup() {
        const quotes = ref(quotesArray);
        const isAuthor = ref("true");
        const sortedArray = ref([]);

        const filteredQuotes = computed(() => {
          return quotes.value.filter((element) => {
            return Boolean(isAuthor.value) == Boolean(element.source);
          });
        });
        sortBySource = function () {
          quotes.value.sort((a, b) => (a.source > b.source ? 1 : -1));
        };
        return {
          quotes,
          isAuthor,
          sortedArray,
          filteredQuotes,
          sortBySource,
        };
      },
    }).mount("#app");
  </script>
</html>